
.vs/LR1_oop/v16/.suo
.vs/LR1_oop/v16/Browse.VC.db
.vs/LR1_oop/v16/Browse.VC.db-shm
.vs/LR1_oop/v16/Browse.VC.db-wal
.vs/LR1_oop/v16/Browse.VC.opendb
.vs/LR1_oop/v16/ipch/AutoPCH/155d0546122754a/NODE.ipch
.vs/LR1_oop/v16/ipch/AutoPCH/867f6c45707a5b57/MAIN.ipch
.vs/LR1_oop/v16/ipch/AutoPCH/c8ca68e53565b157/CONTAINER.ipch
